<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title>Режиссеры онлайн-фильмотеки</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск режиссера</h3>
        <form method="POST" th:action="@{/directors/search}" th:object="${directorSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="directorsFio" type="text" class="form-control" id="directorsFio"
                               placeholder="Имя режиссера">
                        <label for="directorsFio">Имя режиссера</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-primary-my">Найти режиссера</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Список всех режиссеров фильмотеки</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                   th:href="@{/directors/add}"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить режиссера</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Описание</th>
                    <th></th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="director: ${directors}">
                    <td>
                        <a class="text-link text-blue text-decoration-none" th:href="'/directors/'+ ${director.getId()}"
                           th:text="${director.getDirectorsFio()}"></a>
                    </td>
                    <td th:text="${director.getPosition()}"></td>
                    <td></td>
                    <td>
                        <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                           class="btn btn-primary-my" th:href="'/directors/update/' + ${director.getId()}">Обновить</a>
                        <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                           th:if="${!director.isDeleted()}" class="btn btn-primary-my"
                           th:href="'/directors/delete/' + ${director.getId()}"
                           onclick="return confirm('Вы действительно хотите удалить режиссера?')">Удалить</a>
                        <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
                           th:if="${director.isDeleted()}" class="btn btn-primary-my mt-1"
                           th:href="'/directors/restore/' + ${director.getId()}">Восстановить</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--    Пагинация-->
<!--    <div>-->
<!--        <nav aria-label="Pagination" th:if="${directors.getTotalPages() gt 0}">-->
<!--            <ul class="pagination justify-content-center font-weight-bold">-->
<!--                <li class="page-item" th:classappend="${directors.number eq 0} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/directors?page={id}(id=${directors.number lt 2 ? 1 : directors.number})}"-->
<!--                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&laquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="page-item" th:classappend="${i eq directors.number + 1} ? 'active'"-->
<!--                    th:each="i : ${#directors.sequence( 1, directors.totalPages, 1)}">-->
<!--                    <a class="page-link" th:href="@{/directors?page={id}(id=${i})}" th:text="${i}"-->
<!--                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>-->
<!--                </li>-->
<!--                <li class="page-item" th:classappend="${directors.number eq directors.totalPages - 1} ? 'disabled'">-->
<!--                    <a class="page-link"-->
<!--                       th:href="@{/directors?page={id}(id=${directors.number + 2})}"-->
<!--                       aria-label="Next" title="Next Page" data-toggle="tooltip">-->
<!--                        <span aria-hidden="true">&raquo;</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->

</div>
</body>
</html>