<!DOCTYPE html>
<html lang="ru"
      xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Информация о режиссере</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h3 th:text="'Информация об режиссере ' + ${director.getDirectorsFio()}"></h3>
        <form class="mb-2 row">
            <div class="mb-2 row">
                <label for="directorsFio" class="col-sm-2 col-form-label no-border">Имя:</label>
                <div class="col-sm-10">
                    <p th:text="${director.getDirectorsFio()}" class="form-control-plaintext" id="directorsFio">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="position" class="col-sm-2 col-form-label">Описание:</label>
                <div class="col-sm-10">
                    <p th:text="${director.getPosition()}" class="form-control-plaintext" id="position">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <div class="mt-2">
            <form method="POST" th:object="${directorSearchForm}" th:action="@{/films/search/director}">
                <a sec:authorize="isAuthenticated() && !hasRole('USER')" class="btn btn-primary-my"
                   th:href="'/directors/add-film/' + ${director.getId()}">Добавить фильм</a>
                <input type="hidden" name="directorsFio"
                       th:value="${director.getDirectorsFio()}">
                <button type="submit" class="btn btn-primary-my">Посмотреть фильмы</button>
                <button type="button" class="btn btn-primary-my" onclick="window.history.back()">Назад</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
