<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Обновить фильм</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Обновить фильм ' + ${film.getTitle()}"></h3>
  <form class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/films/update}" th:object="${filmForm}">
    <input type="hidden" name="id"
           th:value="${film.getId()}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <!--Название поля инпута должно строго соответствовать названию поля класса (DTO)-->
          <input name="title" th:value="${film.getTitle()}" type="text" class="form-control" id="title" placeholder="Название фильма" required>
          <label for="title">Название фильма</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <select class="form-select" name="genre" id="genre" required th:object="${film}"
                  th:field="*{genre}">
            <option selected value="default">Выберете жанр из списка</option>
            <option th:each="genre : ${T(com.sber.spring.SpringProject2.filmoteka.model.Genre).values()}"
                    th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>
          </select>
          <label for="genre">Жанр</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
                    <textarea name="position" th:value="${film.getCountry()}" th:text="${film.getCountry()}" type="text" class="form-control" id="country"
                              placeholder="Страна"></textarea>
          <label for="country">Страна</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
                    <textarea name="position" th:value="${film.getPremierYear()}" th:text="${film.getPremierYear()}" type="text" class="form-control" id="premierYear"
                              placeholder="Год премьеры"></textarea>
          <label for="premierYear">Год премьеры</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary-my" onclick="validateForm()">Обновить</button>
      <button type="button" class="btn btn-primary-my" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>
