<!DOCTYPE html>
<html lang="ru"
      xmlns: layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Информация о фильме</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h3 th:text="'Информация о фильме ' + ${film.getTitle()}"></h3>
        <form class="mb-2 row">
            <div class="mb-2 row">
                <label for="title" class="col-sm-2 col-form-label no-border">Название:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getTitle()}" class="form-control-plaintext" id="title">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="genre" class="col-sm-2 col-form-label">Жанр:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getGenre().getGenreTextDisplay()}" class="form-control-plaintext" id="genre">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="country" class="col-sm-2 col-form-label">Страна:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getCountry()}" class="form-control-plaintext" id="country">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="premierYear" class="col-sm-2 col-form-label">Год премьеры:</label>
                <div class="col-sm-10">
                    <p th:text="${film.getPremierYear()}" class="form-control-plaintext" id="premierYear">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <form class="row g-1">
            <h4 class="mt-3 mb-3" th:text="'Информация о режиссере(ах)'"></h4>
            <div th:each="director : ${film.getDirectors()}">
                <div class="mb-2 row">
                    <label for="fio" class="col-sm-2 col-form-label">Имя:</label>
                    <div class="col-sm-10">
                        <a class="text-link text-blue" th:href="'/directors/' + ${director.getId()}"
                           th:text="${director.getDirectorsFio()}" id="fio"></a>
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="desc_director" class="col-sm-2 col-form-label">Описание:</label>
                    <div class="col-sm-10">
                        <p th:text="${director.getPosition()}" class="form-control-plaintext" id="desc_director">
                    </div>
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <div class="mt-2">
            <a class="btn btn-primary-my"
               th:href="'/rent/film/' + ${film.id}">Арендовать фильм</a>
            <button type="button" class="btn btn-primary-my" onclick="window.history.back()">Назад</button>
        </div>
    </div>
    </form>
</div>
</body>
</html>
