.btn-primary-my {
    color: khaki;
    background-color: #2e2b97;
    border-color: #2e2b97;
}

.btn-primary-my:hover {
    color: #f1d909;
    background-color: #2e2b97;
    border-color: #2e2b97;
}

.nav-link-my {
    color: khaki;
    background-color: #2e2b97;
    border-color: #2e2b97;
    text-underline-style: none;
}

.nav-link-my:hover {
    color: #f1d909;
    background-color: #2e2b97;
    border-color: #2e2b97;
}

.text-link-my {
    color: #2e2b97;
    background-color: white;
    border-color:white;
}